<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form action="{% url 'reset_password_page' %}" method="post">
        {% csrf_token %}
        <label for="new_password"> User's Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="new_password">New Password Confirmation:</label>
        <input type="password" id="new_password_confirmed" name="new_password_confirmed" required>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
